.table_wrapper {
	max-width: 100%;
	overflow: auto;
}

.table {
}

.table tr:nth-child(even) {
	background: #ffffff05;
}

.table td {
	padding: 0.5rem 1rem;
}

.filter {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 0.5rem;
	margin: 1rem 0;
	font-size: 75%;
}
