.file_input_wrapper:global(.input_shadow) {
	position: relative;
	display: inline-block;
	border: 1px solid var(--action) !important;
	border-radius: 5px;
	padding: 0.25rem 0.875rem;
	line-height: 1;
	overflow: hidden;
	cursor: pointer;
}

.file_input {
	appearance: none;
	border: none;
	background: transparent;
	box-shadow: none;
	padding: 0;
	margin: 0;
	width: 1px;
	height: 1px;
	position: absolute;
	top: -2rem;
	left: -2rem;
}

.file_input_wrapper span {
	display: inline-block;
	max-width: 12rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 1.5;
}
