.header {
	display: grid;
	grid-template-columns: 12rem auto;
	align-items: baseline;
	gap: 1rem;
	padding: 1rem;
	margin-bottom: 3rem;
}

@media (min-width: 60rem) {
	.header {
		padding: 2rem;
		margin-bottom: 5rem;
	}
}

a.logo_wrapper {
	display: inline-grid;
	color: var(--text);
	text-decoration: none;
	justify-items: center;
}

a.logo_wrapper:hover :global(.logo-codon) {
	animation: hue 3s infinite linear 30s;
}

@keyframes hue {
	from {
		color: var(--action);
		filter: hue-rotate(0);
	}
	to {
		color: var(--action);
		filter: hue-rotate(-360deg);
	}
}

.logo_wrapper :global(.logo-codon) {
	height: 4rem;
	transition: color easy 1s;
}

@media (min-width: 60rem) {
	.logo_wrapper :global(.logo-codon) {
		height: 8rem;
	}
}

.logo_word {
	font-size: 3rem;
	text-transform: lowercase;
	font-weight: 270;
	margin-top: -10px;
}
