.form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5rem;
	align-items: center;
	max-width: 50rem;
	margin: 0 auto;
}

.label {
	display: grid;
	grid-auto-flow: row;
	gap: 0.5rem;
}

.label + .label {
	margin-top: 1rem;
}

.label .input > * {
	width: 100%;
}

.form > button {
	margin-top: 2rem;
}

@media (min-width: 32rem) {
	.form {
		grid-template-columns: max-content 1fr;
	}

	.label {
		display: contents;
	}

	.label + .label {
		margin: 0;
	}

	.label .text {
		grid-column: 1;
	}

	.label .input {
		grid-column: 2;
	}

	.form > button {
		grid-column: 2;
		justify-self: end;
	}
}
