:root {
	--fg: #eaeff0; /* rgb(234, 239, 240) */
	--fg-highlight: #fff; /* rgb(255, 255, 255) */
	--bg: #101415; /* rgb(16, 20, 21) */
	--content-bg: #15181c; /* rgb(21, 24, 28) */
	--action: #ff0093; /* rgb(255, 0, 147) */
	--focus: #ff0093; /* rgb(255, 0, 147) */
	--secondary: #8a63ff; /* rgb(138, 99, 255) */
	--text: #fff; /* rgb(255, 255, 255) */

	--disabled-bg: #101415; /* rgb(16, 20, 21) */
	--disabled-fg: #ffffff88; /* rgba(255, 255, 255, 136) */

	--input-bg: #252a31; /* rgb(37, 42, 49) */
	--input-fg: #fff; /* rgb(255, 255, 255) */

	--thaw-font-color: #fff; /* rgb(255, 255, 255) */
}

@font-face {
	font-family: "NotoSansMono";
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 100%;
	font-display: swap;
	src: url("/noto_sans_mono_latin.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "NotoSansMono";
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 100%;
	font-display: swap;
	src: url("/noto_sans_mono_latin_ext.woff2") format("woff2");
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

html,
body {
	font-family: "NotoSansMono", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background: var(--bg);
	color: var(--fg);
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	text-decoration-skip-ink: auto;
	accent-color: var(--action);
}

.main {
	padding: 2rem;
	max-width: 100rem;
	margin: 2rem auto;
}

:global(.frame) {
	background-color: var(--content-bg);
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.05), 0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px
		hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 3.5px 0 12px 3px hsla(0, 0%, 0%, 0.35);
	border-radius: 12px;
}

h1,
h2,
h3 {
	color: var(--fg-highlight);
	margin: 0 0 1.5rem 0;
}

a,
a:hover,
a:visited,
a:active {
	color: var(--action);
}

::selection {
	text-shadow: none;
	color: var(--text);
	background-color: rgba(255, 0, 147, 0.6);
}

a,
button {
	touch-action: manipulation;
	cursor: pointer;
}

*:focus-visible:not(:global(.thaw-input__input-el)):not(:global(.codon-input-field)) {
	outline: 1px solid var(--focus) !important;
	outline-offset: 1px;
}

a:focus-visible:not(:global(.increasing_specificity)) {
	border-radius: 3px;
	outline-offset: 6px;
}

textarea,
select,
:global(.codon-thaw-btn) {
	appearance: none;
	background: var(--input-bg);
	color: var(--input-fg);
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.05), 0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px
		hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 0 2px 1px hsla(0, 0%, 0%, 0.35);
	border: none;
	border-radius: 3px;
	padding: 4px 0.5rem;
	transition: outline 0.3s;
	outline: none;
}

:global(.thaw-date-picker-panel),
:global(.thaw-select-menu),
:global(.thaw-message),
:global(.input_shadow) {
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.05), 0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px
		hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 0 2px 1px hsla(0, 0%, 0%, 0.35) !important;
}

:global(.codon-thaw-btn):disabled,
select:disabled {
	background: var(--bg);
	cursor: not-allowed;
	box-shadow: inset 0 0 0 1px var(--bg);
	color: var(--disabled-fg);
}

::placeholder {
	font-size: 70%;
	color: var(--disabled-fg) !important;
}

:global(.thaw-textarea),
:global(.thaw-textarea):hover,
:global(.input_shadow),
:global(.input_shadow):hover {
	border: none !important;
}
