.wrapper {
	display: grid;
}

.wrapper hr {
	width: 42rem;
}

form,
.wrapper h1,
.wrapper p {
	margin: 1rem auto;
}

.add_form {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0.5rem;
}

.outer_ul {
	list-style: none;
	margin: 1rem auto;
	padding: 0;
	text-align: left;
	display: inline-grid;
}

.inner_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	display: inline-block;
}

.inner_ul li {
	display: inline-block;
}

.inner_ul li + li {
	margin-left: 0.5rem;
}

.icons {
	display: grid;
	grid-template-columns: repeat(auto-fill, 4rem);
	width: 50%;
	gap: 0.5rem;
	margin: 0 auto;
}
