.log_list,
.log_wrapper {
	margin-top: 1rem;
}

.log_wrapper {
	display: grid;
	gap: 1.5rem;
}

.log {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1rem;
	padding: 0.5rem;
	border-radius: var(--border-radius-md);
}

.log:nth-child(even) {
	background-color: var(--bg-alt);
}

.log_content {
	display: grid;
	gap: 0.5rem;
}

.log_type {
	display: inline-block;
	padding: 0.25rem 0.5rem;
	border: 1px solid var(--text);
	border-radius: var(--border-radius-sm);
}

.log_type:global(.type_cleaning) {
	background-color: var(--state-clean-bg);
	color: var(--state-clean-fb);
	border-color: var(--state-clean-fb);
}
.log_type:global(.type_preparation) {
	background-color: var(--state-prepare-bg);
	color: var(--state-prepare-fb);
	border-color: var(--state-prepare-fb);
}
.log_type:global(.type_sterilization) {
	background-color: var(--state-sterilize-bg);
	color: var(--state-sterilize-fb);
	border-color: var(--state-sterilize-fb);
}
.log_type:global(.type_using) {
	background-color: var(--state-use-bg);
	color: var(--state-use-fb);
	border-color: var(--state-use-fb);
}
.log_type:global(.type_dirty) {
	background-color: var(--state-dirty-bg);
	color: var(--state-dirty-fb);
	border-color: var(--state-dirty-fb);
}
.log_type:global(.type_archive) {
	background-color: var(--state-archive-bg);
	color: var(--state-archive-fb);
	border-color: var(--state-archive-fb);
	border-style: dashed;
}
.log_type:global(.type_edit) {
	background-color: #101432;
	color: #5274ff;
	border-color: #5274ff;
}

.log_edit {
}

.log_edit h2 {
	position: relative;
	display: inline-block;
	bottom: calc(-0.625rem - 2px);
	font-size: 1rem;
	font-weight: 400;
	margin: 0 0 0 1rem;
	padding: 0.25rem 0.5rem;
	background: var(--content-bg);
	border-radius: var(--border-radius-sm);
	color: var(--text-muted);
	border: 1px solid #ffffff30;
	text-transform: uppercase;
	font-size: 0.75rem;
}

.log_edit .diff {
	padding: 1.25rem 1rem 1rem 1rem;
	margin: 0;
	border: 1px solid #ffffff30;
	border-radius: var(--border-radius-md);
	max-height: 12.5rem;
	overflow: auto;
}
