.details {
	margin: 1rem 0;
}

.heading a {
	font-weight: 400;
	font-size: 1rem;
}

.list {
	display: grid;
	grid-template-columns: 1fr;
}

.list dd {
	margin: 0 0 2rem 0;
}

.list dd,
.list dt {
	padding: 0.5rem;
}

.list dt {
	display: grid;
	align-items: center;
	background: #ffffff05;
}

@media (min-width: 42rem) {
	.list {
		grid-template-columns: auto 1fr;
	}

	.list dt {
		text-align: right;
	}

	.list dd {
		border-top-right-radius: var(--border-radius-md);
		border-bottom-right-radius: var(--border-radius-md);
		margin: 0;
	}

	.list dt {
		border-top-left-radius: var(--border-radius-md);
		border-bottom-left-radius: var(--border-radius-md);
	}

	.list dt {
		background: transparent;
	}

	.list dd,
	.list dt {
		padding: 1rem;
	}

	.list dd:nth-child(4n),
	.list dt:nth-child(4n - 1) {
		background: #ffffff05;
	}
}

.attachment_list {
	border: 3px dashed #ffffff10;
	border-radius: var(--border-radius-lg);
	padding: 1rem;
	margin-top: 4rem;
}
