.heading_wrapper {
	display: grid;
	grid-template-columns: 1fr;
	align-items: end;
	margin-bottom: 4rem;
	gap: 2rem;
}

.heading {
	display: flex;
	gap: 1rem;
	align-items: end;
	margin: 0;
}

.heading svg {
	width: 2.5rem;
}

.heading_wrapper .heading_btns {
	display: grid;
	grid-auto-flow: column;
	gap: 2rem;
	align-items: end;
	order: -1;
}

.heading_wrapper .heading_btns a {
	display: inline-grid;
	justify-items: center;
	text-align: center;
	gap: 0.25rem;
}

.heading_wrapper .heading_btns svg {
	height: 2rem;
}

.heading_wrapper .heading_btns button span {
	flex-flow: column;
	gap: 0.25rem;
}

@media (min-width: 42rem) {
	.heading_wrapper {
		grid-template-columns: 1fr auto;
		gap: 1rem;
	}

	.heading svg {
		width: 5.5rem;
	}

	.heading_wrapper .heading_btns {
		order: unset;
	}
}
