.avatar {
	display: inline-grid;
	gap: 0.25rem;
	justify-items: center;
	align-self: start;
	margin: 0;
}

.avatar div {
	border-radius: 100%;
	overflow: hidden;
	width: 4.5rem;
	height: 4.5rem;
	border: #18a058 2px solid;
}

.avatar:global(.avata-status-onleave) div {
	border-color: #f0a020;
}

.avatar:global(.avata-status-left) div,
.avatar:global(.avata-status-left) figcaption {
	border-color: #d03050;
	opacity: 0.3;
}

.avatar:global(.avata-status-left) {
	position: relative;
}

.avatar:global(.avata-status-left):after {
	content: "LEFT";
	font-size: 70%;
	position: absolute;
	top: 1.7rem;
	background-color: #d03050;
	padding: 3px 1rem;
	border-radius: var(--border-radius-sm);
	transform: rotate(-20deg);
}

.avatar img {
	display: inline-block;
	max-width: 100%;
}

.avatar figcaption {
	font-size: 70%;
}
