.notes_list {
	margin-top: 1rem;
}

.notes_item {
	display: grid;
	gap: 2.5rem 1rem;
	grid-template-columns: auto 1fr;
	padding: 0.5rem 0.5rem 1rem 0.5rem;
	margin-bottom: 1rem;
	border-radius: var(--border-radius-md);
}

.notes_item:nth-child(even) {
	background-color: var(--bg-alt);
}

.notes_item small {
	display: grid;
	font-size: 70%;
	color: var(--text-muted);
	margin-bottom: 0.5rem;
	grid-template-columns: 1fr auto;
	gap: 0.5rem;
}

.notes_item .menu {
	height: 1.5rem;
	cursor: pointer;
}

.text_btn {
	appearance: none;
	border: none;
	box-shadow: none;
	background: transparent;
	color: var(--text);
	padding: 6px 5px;
	margin: 0;
	border-radius: 2px;
	cursor: pointer;
}

.text_btn:hover {
	background: #ffffff17;
}

.edit_form {
	display: grid;
	gap: 0.5rem;
}

.edit_form .file_inputs > span {
	display: inline-block;
	margin-top: 3px;
}

.edit_form .file_inputs {
	display: flex;
	gap: 0.25rem;
	flex-flow: wrap;
}

.edit_form span:global(.is_hidden) {
	position: absolute;
	width: 1px;
	height: 1px;
	top: -10px;
	left: -10px;
	overflow: hidden;
}

.edit_form .file_inputs em {
	display: flex;
	align-items: center;
	min-height: 1.85rem;
	margin: 0 0 0.75rem 0;
}

.edit_form .btns {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.media_toggle {
	position: relative;
	display: inline-block;
	overflow: hidden;
	height: 2rem;
	cursor: pointer;
}

.media_toggle input {
	position: absolute;
	left: -10rem;
	top: -10rem;
}

.media_toggle img {
	max-height: 2rem;
	border: 1px solid var(--text);
	border-radius: var(--border-radius-sm);
}

.media_toggle div {
	display: grid;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-items: center;
	border-radius: var(--border-radius-sm);
}

.media_toggle svg {
	height: 2rem;
	color: var(--action);
}

.media_toggle input:checked + img + div {
	background: var(--action);
	opacity: 0.7;
}

.media_toggle input:checked + img + div svg {
	color: var(--text);
}
