.notes_list {
	margin-top: 1rem;
}

.notes_item {
	display: grid;
	gap: 2.5rem 1rem;
	grid-template-columns: auto 1fr;
	padding: 0.5rem 0.5rem 1rem 0.5rem;
	margin-bottom: 1rem;
	border-radius: var(--border-radius-md);
}

.notes_item:nth-child(even) {
	background-color: var(--bg-alt);
}

.notes_item small {
	display: grid;
	font-size: 70%;
	color: var(--text-muted);
	margin-bottom: 0.5rem;
	grid-template-columns: 1fr auto;
	gap: 0.5rem;
}

.notes_item .menu {
	height: 1.5rem;
}
