.notes_list {
	border: 3px dashed #ffffff10;
	border-radius: var(--border-radius-lg);
	padding: 1rem;
	margin-top: 4rem;
}

.notes_item {
	display: grid;
	gap: 2.5rem 1rem;
	grid-template-columns: auto 1fr;
	padding: 1rem 0;
}

.notes_item small {
	display: block;
	font-size: 70%;
	color: var(--text-muted);
	margin-bottom: 0.5rem;
}

.notes_item .imgs {
	display: flex;
	gap: 0.25rem;
	margin: 0.5rem 0;
}

.notes_item .img {
	max-height: 2rem;
	border: 1px solid var(--text);
	transition: max-height 0.3s ease;
}

.notes_item .btn {
	appearance: none;
	border: none;
	background: transparent;
	box-shadow: none;
	padding: 0;
	margin: 0;
}

.notes_item .form:global(.form-isopen) {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	z-index: 100;
}

.notes_item .form:global(.form-isopen) .btn {
	display: grid;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background: #000e;
}

.notes_item .form:global(.form-isopen) .img {
	max-height: calc(95vh - 2px);
}
