.equipment_type {
	display: inline-grid;
	justify-items: center;
	text-align: center;
	gap: 0.5rem;
	font-size: 60%;
}

.qrcode {
	max-width: 5rem;
	display: inline-block;
}

.working,
.needscleaning,
.preparation,
.sterilization,
.broken,
.outofcommission {
	display: inline-flex;
	height: 28px;
	align-items: center;
	font-size: 14px;
	line-height: 1;
	padding: 0 8px;
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
	border-radius: var(--border-radius-sm);
}

.working {
	background-color: #161e1a;
	color: #18a058;
	border: 1px solid #18a058;
}
.needscleaning {
	background-color: #1e1c16;
	color: #f0a020;
	border: 1px solid #f0a020;
}
.preparation {
	background-color: #1f2122;
	color: #ccc;
	border: 1px dashed #ccc;
}
.sterilization {
	background-color: #191622;
	color: var(--secondary);
	border: 1px solid var(--secondary);
}
.broken {
	background-color: #221a1a;
	color: #d03050;
	border: 1px solid #d03050;
}
.outofcommission {
	background-color: #1f2122;
	color: #ccc;
	border: 1px solid #ccc;
}
