.equipment_id {
	font-weight: 200;
	border: 1px solid #ffffff50;
	padding: 0.1rem 0.5rem;
	border-radius: var(--border-radius-md);
	vertical-align: middle;
}

.equipment_type {
	display: inline-grid;
	justify-items: center;
	text-align: center;
	gap: 0.5rem;
	font-size: 60%;
}

.qrcode {
	max-width: 5rem;
	display: inline-block;
}

.cleaned,
.prepared,
.sterilized,
.inuse,
.dirty,
.archived {
	display: inline-flex;
	height: 28px;
	align-items: center;
	font-size: 14px;
	line-height: 1;
	padding: 0 8px;
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
	border-radius: var(--border-radius-sm);
}

.cleaned {
	background-color: var(--state-clean-bg);
	color: var(--state-clean-fb);
	border: 1px solid var(--state-clean-fb);
}
.prepared {
	background-color: var(--state-prepare-bg);
	color: var(--state-prepare-fb);
	border: 1px solid var(--state-prepare-fb);
}
.sterilized {
	background-color: var(--state-sterilize-bg);
	color: var(--state-sterilize-fb);
	border: 1px solid var(--state-sterilize-fb);
}
.inuse {
	background-color: var(--state-use-bg);
	color: var(--state-use-fb);
	border: 1px solid var(--state-use-fb);
}
.dirty {
	background-color: var(--state-dirty-bg);
	color: var(--state-dirty-fb);
	border: 1px solid var(--state-dirty-fb);
}
.archived {
	background-color: var(--state-archive-bg);
	color: var(--state-archive-fb);
	border: 1px dashed var(--state-archive-fb);
}
