.nav {
	color: hotpink;
}

.nav a[aria-current] {
	font-weight: bold;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav li {
	display: inline-block;
}

.nav li + li {
	margin-left: 0.5rem;
}
