.section {
	margin-bottom: 2rem;
}

.stack_block,
.stack_inline {
	display: inline-grid;
	grid-auto-flow: row;
	gap: 0.5rem;
	justify-items: left;
}

.stack_inline {
	grid-auto-flow: column;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 5.5rem);
	gap: 1rem;
	justify-items: center;
}
